*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
  
    width: 100%;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    
    

}
.container{
    width: 100%;
    height:100%;
    background-color: white;
    display: flex;
    user-select: none;
}
.headers{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
    text-decoration: none;
    
}
.ledger{
        background-color: rgb(0, 0, 0);
        padding: 20px;
        flex: 1;
        color: rgb(255, 255, 255);
        }

.ledger h2,
.ledger h3,
.ledger h1{
    margin-bottom: 5px;
    font-weight: 400;
    padding: 5px;
}
.inc-exp-container{
    display: flex;
    gap: 10px;
    padding: 5px;
    height: 200px;
    font-size: 30px;
}
.inc-exp-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    flex: 1;
}
.inc-exp-container div.inc{
    border: 5px solid green;
    color: rgb(255, 255, 255);
}
.inc-exp-container div.exp{
    border:2px solid red;
    color:rgb(255, 255, 255);
}
#form{
    margin-top:20px;
    padding: 5px;
}
label{
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0px;
}
.control{
    margin-top: 10px;
}
input[type="text"],
input[type="number"],
input[type="datetime-local"]{
    display: block;
    width: 100%;
    height:40px;
    border: 2px solid white;
    outline: none;
}
#but{
    margin-top:10px;
    width: 25%;
    display: block;
    box-shadow: 2px 2px 5px white;
    background-color: rgb(0, 0, 0);
    color: white;
}
.transaction{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    overflow-y: scroll;
    padding: 20px 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.transaction h2{
    text-transform: uppercase;
    margin-top: 5px;
    border-bottom: 2px solid brown;
}
.trans{
    list-style: none;
}
.trans li{
    background-color: white;
    padding: 10px;
    color: #333;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27,31,35,015) 0px 0px 0px 1px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    
    cursor: pointer;
}
.trans li.inc{
    border-left: 5px solid green;
}
.trans li.exp{
    border-left: 5px solid red;
}
.btn-del{
    
    
    right: 2px;
    width: auto;
    height: 15px;
    background-color: green;
    box-shadow: 0.5px 0.5px 1px black;
    cursor: pointer;
    color: white;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: blue;
}
.head {
    display: flex;
    gap: 100px;
}
.table th{
    background-color:rgba(0, 0, 0, 0.597);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
.table td{
    text-align: center;
    padding:5px 5px;
    background-color: rgba(255, 231, 231, 0.578);
    font-weight: bolder;
}
.money{
    border-bottom:2px solid white ;
}
.myChart{
    height: 400px;
    width: 50%;
}